.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}

.header {
  min-width: 0;
  background-image: url("../public/pattern-bg.png");
  background-size: cover;
  background-position: center;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
}

.headline {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2.5rem;
}

.main {
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
}
