.container {
  display: grid;
  height: 100vh;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}

.header {
  background-image: url("../public/pattern-bg.png");
  background-size: cover;
  background-position: center;
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2.5rem;
}

.main {
}
