@import "./common.scss";

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}

.header {
  min-width: 0;
  background-image: url("../public/pattern-bg.png");
  background-size: cover;
  background-position: center;
  padding: 3rem 3.5rem 3.5rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  box-shadow: $box-shadow;

  @include respond(phone) {
    padding: 3rem;
  }
}

.headline {
  font-size: 3rem;
  color: #fff;
  margin: 0.67rem 0 2.5rem;
  font-weight: 500;

  @include respond(phone) {
    margin: 0.5rem 0 2.5rem;
  }
}

.main {
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
}
