@import "../../styles/common.scss";

.infos {
  width: 100%;
  max-width: 108rem;
  margin-bottom: -11rem;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: $box-shadow;
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  @include respond(tab-port) {
    margin-bottom: -23rem;
    grid-template-columns: minmax(0, 1fr);
  }
}

.info-wrap {
  padding: 0 3rem;
  margin: 3.5rem 0;

  &:not(:last-child) {
    border-right: 1px solid $color-light-gray;
  }

  @include respond(tab-port) {
    margin: 1.5rem 0;

    &:first-child {
      margin-top: 3.5rem;
    }

    &:last-child {
      margin-bottom: 3.5rem;
    }
  }
}
