@import "../../styles/common.scss";

.infos {
  margin-bottom: -11rem;
  display: flex;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: $box-shadow;
}

.info-wrap {
  padding: 0 3rem;
  margin: 3.5rem 0;
  width: 27rem;
  box-sizing: border-box;

  &:not(:last-child) {
    border-right: 1px solid $color-light-gray;
  }
}
